pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "joining and single file",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "batch_process",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "joining and single file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/deyshiladitya1991@gmail.com/batch_processing",
					"baseParameters": {
						"input_path": {
							"value": "@pipeline().parameters.output_path",
							"type": "Expression"
						},
						"tmpdir": {
							"value": "@pipeline().parameters.tmp_dir",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "stream_process",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "batch_process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/deyshiladitya1991@gmail.com/stream_process"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "batch_process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": {
						"value": "@activity('batch_process').output.runOutput",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"output_path": {
				"type": "string",
				"defaultValue": "abfss://data@siladityasg.dfs.core.windows.net/output"
			},
			"tmp_dir": {
				"type": "string",
				"defaultValue": "abfss://data@siladityasg.dfs.core.windows.net/input/tmpdir"
			},
			"batch_table": {
				"type": "string",
				"defaultValue": "BatchTB"
			},
			"stream_table": {
				"type": "string",
				"defaultValue": "StreamTB"
			},
			"checkpointing_path": {
				"type": "string",
				"defaultValue": "abfss://data@siladityasg.dfs.core.windows.net/checkpointing"
			}
		},
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": []
	}
}